@import "tailwindcss";

@theme {
  --font-serif: "Cinzel", serif;
  --font-sans: "Montserrat", sans-serif;

  --color-brand-gold: #C5A059;
  --color-brand-dark: #0F0F0F;
  --color-brand-brown: #2A2420;
  --color-brand-cream: #F5F2ED;
}

body {
  background-color: var(--color-brand-dark);
  color: var(--color-brand-cream);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
